<%- include("partials/header", {title: "Display All"}) %>

<body>
	<%- include('partials/navbar', {page_name: "display_all"}) %>
	<div class="d-flex justify-content-center">
		<!--card image and body-->
		<div class="card card-shadow m-2" style="max-width: 80%">
			<img
				src="<%= (article.imageUrl && article.imageUrl.length) ? article.imageUrl : 'https://source.unsplash.com/400x300/?technology' %>"
				alt="article image"
				class="card-img-top px-0"
			/>
			<div class="card-header">
				<h6 class="card-title text-center m-0"><%= article.title %></h6>
				<p class="mb-0 text-center">
					<small
						>Created:
						<cite
							><%= article.createdAt.toLocaleDateString('en-GB', { year:
							'numeric', month: 'short', day: 'numeric' }) %></cite
						></small
					>
				</p>
			</div>
			<div class="card-body p-2">
				<p class="card-text" style="font-family: Verdana; font-style: italic">
					<%= article.summary %>
				</p>
				<p class="card-text"><%- article.sanitizedHtml %></p>
			</div>
		</div>
		<%- include ("partials/footer") %>
	</div>

	<a href="/" class="btn btn-secondary">All Articles</a>
	<a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
</body>
