<%- include("partials/header", {title: "Display All"}) %>

<style>
	/* Container holding the image and the text */
	.image-div {
		position: relative;
		text-align: center;
		color: white;
	}

	/* Bottom right text */
	.bottom-right {
		font-size: 12px;
		position: absolute;
		bottom: 8px;
		right: 8px;
		background-color: darkslategrey;
		opacity: 0.7;
		padding: 0 4px;
	}
</style>

<body>
	<%- include('partials/navbar', {page_name: "display_all"}) %>
	<div class="d-flex justify-content-center">
		<!--card image and body-->
		<div class="card card-shadow m-2" style="max-width: 1000px">
			<div class="image-div">
				<img
					src="<%= article.imageUrl %>"
					alt="article image"
					class="card-img-top px-0"
				/>
				<div class="bottom-right">Image: <%= article.imageCredit %></div>
			</div>
			<div class="card-header">
				<h6 class="card-title text-center m-0"><%= article.title %></h6>
				<p class="mb-0 text-center">
					<small
						>Created:
						<cite
							><%= article.createdAt.toLocaleDateString('en-GB', { year:
							'numeric', month: 'short', day: 'numeric' }) %></cite
						></small
					>
				</p>
			</div>
			<div class="card-body p-2">
				<h5 style="color: #0d47a1; text-decoration: underline">Summary</h5>
				<p class="card-text" style="font-family: Verdana; font-style: italic">
					<%= article.summary %>
				</p>
				<h5 class="mb-0" style="color: #0d47a1; text-decoration: underline">Main Text</h5>
				<p class="card-text" style="font-family: Verdana">
					<%- article.sanitizedHtml %>
				</p>
			</div>
			<div class="card-footer d-flex justify-content-around">
				<a href="/" class="btn btn-sm btn-outline-dark" style="width: 60px"
					><img src="/images/arrow_back-24px.svg"
				/></a>
				<a
					href="/articles/edit/<%= article.id %>"
					class="btn btn-sm btn-outline-primary"
					style="width: 60px"
					><img src="/images/pencil-24px.svg"
				/></a>
				<form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
					<button
						type="submit"
						onclick="return confirm('Are you sure you want to delete?')"
						class="btn btn-outline-danger btn-sm"
						style="width: 60px"
					>
						<img src="/images/trash-24px.svg" alt="button to delete article" />
					</button>
				</form>
			</div>
		</div>
	</div>
</body>
<%- include ("partials/footer") %>
