<%- include("partials/header", {title: "Display All"}) %>

<div class="container">
	<a href="/" class="btn btn-secondary">All Articles</a>
	<a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

	<!--card image and body-->
	<div class="card card-shadow m-2" style="max-width: 700px">
		<img
			src="<%= article.imageUrl %>"
			alt="article image"
			class="card-img-top px-0"
		/>
		<div class="card-header">
			<h6 class="card-title text-center m-0"><%= article.title %></h6>
		</div>
		<div class="card-body">
			<p class="card-text" style="font-family: Verdana; font-style: italic">
				<%= article.summary %>
			</p>
			<p class="card-text"><%- article.sanitizedHtml %></p>
		</div>
		<footer class="blockquote-footer text-center">
			Article created:
			<cite title="Source Title"
				><%= article.createdAt.toLocaleDateString() %></cite
			>
		</footer>
	</div>

	<%- include ("partials/footer") %>
</div>
