<%- include ("partials/header", {title: "Edit"}) %>
<body>
	<%- include('partials/navbar', {page_name: "edit"}) %>
	<div class="container pt-2">
		<form action="/articles/<%= article.id %>?_method=PUT" method="POST">
			<%- include ("partials/fields", { maxTitleLength, maxMarkdownLength,
			maxSummaryLength }) %>
		</form>
	</div>
</body>

<%- include ("partials/footer") %>
