<%- include ("partials/header", {title: "Edit"}) %>
<body>
	<!-- <%- include('partials/navbar', {page_name: "index"}) %> -->
	<div class="container">
		<h2 class="mb-4 pt-4">Edit Article</h2>

		<form action="/articles/<%= article.id %>?_method=PUT" method="POST">
			<%- include ("partials/fields") %>
		</form>
	</div>
</body>

<%- include ("partials/footer") %>
