<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<title>Articles</title>
	</head>
	<body>
		<div class="container">
			<div class="d-flex justify-content-center pt-3">
				<div class="alert alert-success border-dark p-2 m-0" role="alert">
					<div class="d-flex justify-content-between">
						<h4 class="alert-heading text-center m-0">Technical Articles</h4>
						<a href="/articles/new" class="btn btn-outline-dark btn-sm ml-2"
							>+</a
						>
					</div>
				</div>
			</div>

			<!-- Display list of cards, each with edit & delete buttons-->
			<% articles.forEach(article => { %>
			<div class="card mt-4">
				<div class="card-body">
					<h4 class="card-title"><%= article.title %></h4>
				</div>
				<div class="card-footer p-2">
					<small class="text-muted justify-content-between">
						<div>
              <%= article.createdAt.toLocaleString("en-GB", { year: 'numeric', month: 'long', day: 'numeric' }) %>
              <a href="articles/<%= article.slug %>" class="btn btn-primary"
                >More...</a
              >
              <a href="articles/edit/<%= article.id %>" class="btn btn-info"
                >Edit</a
              >
              <form
                action="/articles/<%= article.id %>?_method=DELETE"
                method="POST"
                class="d-inline"
              >
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
					</small>
				</div>
			</div>
			<% }) %>
		</div>
	</body>
</html>
