<!-- <%- include ("partials/header", {title: "Index"}) %> -->
<%- include('partials/header', {title: "Index"}); %>

<!-- Display title hub with button to add article -->
<div class="container">
	<!---->
	<div class="d-flex justify-content-center pt-3">
		<div class="alert alert-success border-dark p-2 m-0" role="alert">
			<div class="d-flex justify-content-between">
				<h4 class="alert-heading text-center m-0">Technical Articles</h4>
				<a href="/articles/new" class="btn btn-light btn-sm ml-2"
					><img src="/images/add-24px.svg"
				/></a>
			</div>
		</div>
	</div>

	<!-- Display list of cards, each with edit & delete buttons-->
	<% articles.forEach(article => { %>
	<!-- <div class="card mt-4"> -->
	<div class="card card-shadow width-225px m-2">
		<div class="card-body">
			<h4 class="card-title"><%= article.title %></h4>
		</div>
		<div class="card-footer p-2">
			<small class="text-muted d-flex justify-content-between">
				<div class="d-flex align-items-center">
					<img src="/images/event_note-24px.svg" class="mr-1" />
					<!-- <%= article.createdAt.toLocaleString("en-GB", { year: 'numeric',
						month: 'long', day: 'numeric' }) %> -->
				</div>
				<%- include('partials/date'); %>
				<a href="articles/<%= article.slug %>" class="btn btn-primary"
					>More...</a
				>
				<a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
				<form
					action="/articles/<%= article.id %>?_method=DELETE"
					method="POST"
					class="d-inline"
				>
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</small>
		</div>
	</div>
	<% }) %>
</div>

<%- include('partials/footer'); %>
