<%- include('partials/header', {title: "Index"}); %>

<style>
	/* Container holding the image and the text */
	.image-div {
		position: relative;
		text-align: center;
		color: white;
	}

	/* Bottom right text */
	.bottom-right {
		font-size: 12px;
		position: absolute;
		bottom: 8px;
		right: 8px;
		background-color: darkslategrey;
		opacity: 0.7;
		padding: 0 4px;
	}

	/* a.custom-card,
	a.custom-card:hover {
		color: inherit;
	} */
</style>

<body>
	<%- include('partials/navbar', {page_name: "index"}) %>
	<div>
		<div class="d-flex justify-content-center pt-3 pl-2">
			<div
				class="alert alert-success border-dark px-2 py-1 mb-1"
				style="background-color: #cce5ff; font-size: 18px"
				role="alert"
			>
				<p class="mb-0 text-center">
					You have
					<span class="badge badge-pill badge-light" style="font-size: 18px"
						><%= totalArticles %></span
					><%= articlesString %>
				</p>
			</div>
		</div>

		<!--article cards array-->
		<section class="d-flex flex-wrap justify-content-left mb-2 mt-2 mx-auto">
			<% articles.forEach(article => { %>
			<!--card image and body-->
			<!-- <a href="" class="custom-card"> -->
			<div
				class="card rounded card-shadow m-2"
				style="max-width: 400px"
				href="articles/<%= article.slug %>"
			>
				<div class="image-div">
					<img
						class="card-img-top"
						src="<%= article.imageUrl %>"
						alt="article image"
					/>
					<div class="bottom-right"><%= article.imageCredit %></div>
				</div>
				<div class="card-header p-2">
					<h5 class="card-title text-center m-0"><%= article.title %></h5>
				</div>
				<div class="card-body p-2">
					<p class="card-text" style="font-family: Verdana; font-style: italic">
						<%= article.summary %><a
							href="articles/<%= article.slug %>"
							class="stretched-link"
						>
							Read more...</a
						>
					</p>
				</div>

				<!--card footer-->
				<!-- <div class="card-footer p-2">
					<small class="d-flex justify-content-between">
						<div class="d-flex align-items-center">
							<img
								src="/images/event_note-24px.svg"
								alt="date article was created"
								class="mr-1"
							/><span style="font-size: 14px"
								><%= article.createdAt.toLocaleDateString('en-GB', { year:
								'numeric', month: 'short', day: 'numeric' }) %></span
							>
						</div>

						<a
							href="articles/<%= article.slug %>"
							class="btn btn-outline-dark px-1 py-0"
							><img src="/images/view-24px.svg"
						/></a>
						<a
							href="articles/edit/<%= article.id %>"
							class="btn btn-outline-info btn-sm"
							><img src="/images/pencil-24px.svg" alt="button to edit article"
						/></a>
						<form
							action="/articles/<%= article.id %>?_method=DELETE"
							method="POST"
						>
							<button type="submit" class="btn btn-outline-danger btn-sm">
								<img
									src="/images/trash-24px.svg"
									alt="button to delete article"
								/>
							</button>
						</form>
					</small>
				</div> -->
				<!--end of card footer-->
			</div>
			<!-- </a> -->
			<% }); %>
		</section>
	</div>
</body>
<%- include('partials/footer'); %>
