<%- include('partials/header', {title: "Index"}); %>
<body>
	<%- include('partials/navbar', {page_name: "index"}) %>
	<div class="container">
		<div class="d-flex justify-content-center pt-3 pl-2">
			<div
				class="alert alert-success border-dark p-2 mb-1"
				style="background-color: #cce5ff; font-size: 18px"
				role="alert"
			>
				<p class="mb-0 text-center">
					You have
					<span class="badge badge-pill badge-light" style="font-size: 18px"
						><%= totalArticles%></span
					><%= articlesString %>
				</p>
			</div>
		</div>

		<% articles.forEach(article => { %>
		<div class="card card-shadow width-225px m-2">
			<div class="card-body p-2">
				<h5 class="card-title">Title: <%= article.title %></h5>
				<h6 class="card-subtitle">Summary: <%= article.summary %></h6>
			</div>
			<div class="card-footer p-2">
				<small class="d-flex justify-content-between">
					<div class="d-flex align-items-center">
						<img
							src="/images/event_note-24px.svg"
							alt="date article was created"
							class="mr-1"
						/><span style="font-size: 14px"
							><%= article.createdAt.toLocaleDateString() %></span
						>
					</div>

					<a
						href="articles/<%= article.slug %>"
						class="btn btn-outline-dark px-1 py-0"
						><img src="/images/view-24px.svg"
					/></a>
					<a
						href="articles/edit/<%= article.id %>"
						class="btn btn-outline-info btn-sm"
						><img src="/images/pencil-24px.svg" alt="button to edit article"
					/></a>
					<form
						action="/articles/<%= article.id %>?_method=DELETE"
						method="POST"
					>
						<button type="submit" class="btn btn-outline-danger btn-sm">
							<img
								src="/images/trash-24px.svg"
								alt="button to delete article"
							/>
						</button>
					</form>
				</small>
			</div>
		</div>
		<% }) %>
	</div>
</body>
<%- include('partials/footer'); %>
