<body>
	<div class="form-group">
		<label class="mb-1" for="title">Title</label
		><small id="titleHelp" class="text-muted">
			(4 - <%= maxTitleLength %> characters)
		</small>
		<input
			required
			value="<%= article.title %>"
			type="text"
			name="title"
			id="title"
			class="form-control"
			style="max-width: 350px;"
			aria-label="Enter article title"
		/>
	</div>
	<div class="form-group">
		<label class="mb-1" for="imageUrl">Image Url</label
		><small id="titleHelp" class="text-muted"> (https://...) </small>
		<input
			required
			value="<%= article.imageUrl %>"
			type="text"
			name="imageUrl"
			id="imageUrl"
			class="form-control"
			aria-label="Enter article image url"
		/>
	</div>
	<div class="form-group">
		<label class="mb-1" for="imageCredit">Image Credit</label
		><small id="titleHelp" class="text-muted">
			(who created the image?)
		</small>
		<input
			required
			value="<%= article.imageCredit %>"
			type="text"
			name="imageCredit"
			id="imageCredit"
			class="form-control"
			aria-label="Enter article image credit"
		/>
	</div>
	<div class="form-group">
		<label class="mb-1" for="summary">Summary</label
		><small id="titleHelp" class="text-muted">
			(4 - <%= maxSummaryLength %> characters)
		</small>
		<textarea
			required
			name="summary"
			id="summary"
			class="form-control"
			rows="4"
			aria-label="Enter article summary"
		>
	<%= article.summary %></textarea
		>
	</div>
	<div class="form-group">
		<label class="mb-1" for="markdown">Article Body</label
		><small id="titleHelp" class="text-muted">
			(4 - <%= maxMarkdownLength %> characters using Markup)
		</small>
		<textarea
			required
			name="markdown"
			id="markdown"
			class="form-control"
			rows="4"
			aria-label="Enter article main body"
		>
	<%= article.markdown %></textarea
		>
	</div>

	<!-- <a href="/" class="btn btn-sm btn-danger">Cancel</a>
	<button type="submit" class="btn btn-sm btn-primary">Save</button> -->

	<div class="d-flex justify-content-around bg-light">
		<div class="p-3">
			<a
				href="/"
				class="btn btn-sm btn-danger"
				style="width: 80px"
				><span style="color: fff;">Cancel</span></a
			>
		</div>

		<div class="p-3">
			<button type="submit" class="btn btn-sm btn-dark" style="width: 80px;">Save</button>
			<!-- <a
				href="https://expressjs.com/"
				target="_blank"
				rel="noopener noreferrer"
				class="btn btn-sm btn-outline-success p-1"
				style="width: 65px;"
				><span style="color: #343A40;">Express</span></a
			> -->
		</div>
	</div>

</body>
